<div class="mx-auto w-full flex p-4">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center w-full">
      <span class="font-bold text-4xl"><%= @category.name %></span>
      <div>
        <%= link_to "Edit this category", edit_category_path(@category), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>

    <p>Chart goes here</p>
  </div>
</div>
