<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New receipt</h1>

  <div class="p-3">
    <%= render "form", receipt: @receipt %>
  </div>

  <div class="py-5">
    <%= link_to "Back to receipts", receipts_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
